 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Panther5.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 869px;
  min-height: 500px;
  margin: 100px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 100px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 30px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 800px;
    margin-top: 277px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 199px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 255px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 225px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 935px;
}

.u-section-2 .u-group-1 {
  min-height: 152px;
  width: 800px;
  margin: 77px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 90px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 573px;
  --effect-scale: 1.25;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Tiger3.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 302px 0 39px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 573px;
  --effect-scale: 1.25;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/g989f1644472d1419a9f93e4171acd18a6dcaf1ab5ecb1cf6d4338e57f6c69167c332088e2358c1c2b2d681ffacbbf115afb07eb51217c4e8d4d55b7e0f12a7de_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 302px 0 39px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 573px;
  --effect-scale: 1.25;
}

.u-section-2 .u-image-3 {
  background-image: url("images/gad023be6d0ba17754f3bdd133ed3533a7410da1cba06ecee00d7699b765b4435e074c5155cb2921c1b5fd796c9fbcd80_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-4 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 302px 0 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-2 .u-group-1 {
    min-height: 100px;
    width: 500px;
    margin-top: 43px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -53px;
    margin-left: 49px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5625rem;
    font-weight: 700;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 586px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5625rem;
    font-weight: 700;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 586px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5625rem;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-2 .u-group-1 {
    min-height: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 611px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-2 .u-group-1 {
    min-height: 121px;
    width: 474px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 95px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 409px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 586px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 302px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 302px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Elephants.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

.u-section-3 .u-group-1 {
  width: 849px;
  min-height: 497px;
  background-image: none;
  margin: 210px auto 10px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 39px;
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 74px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-3 .u-group-1 {
    width: 700px;
    min-height: 614px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 32px;
    padding-right: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 536px;
    min-height: 757px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-3 .u-group-1 {
    width: 503px;
    min-height: 783px;
    margin-top: 24px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 1053px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 739px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 90px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 447px;
  --effect-scale: 1.25;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Blue-Magpie-1-Sri-Lanka-Charlotte-Arthun.jpg");
}

.u-section-4 .u-layout-cell-2 {
  min-height: 447px;
  --effect-scale: 1.25;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Loriculus_beryllinus_-Sri_Lanka_-adult-8.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 28px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 382px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 382px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.625rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 403px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 263px;
  --effect-scale: 1.25;
}

.u-section-5 .u-image-1 {
  background-image: url("images/WildlifePhotoByJanith.jpg");
}

.u-section-5 .u-layout-cell-2 {
  min-height: 263px;
  --effect-scale: 1.25;
}

.u-section-5 .u-image-2 {
  background-image: url("images/WildlifePhotoByJanith2.jpg");
}

.u-section-5 .u-layout-cell-3 {
  min-height: 263px;
  --effect-scale: 1.25;
}

.u-section-5 .u-image-3 {
  background-image: url("images/Eagle2.jpeg");
}

.u-section-5 .u-layout-cell-4 {
  min-height: 263px;
  --effect-scale: 1.25;
}

.u-section-5 .u-image-4 {
  background-image: url("images/Tiger4.jpg");
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}